<!DOCTYPE html>
<html>
<head>
    <title>Convert to Uppercase</title>
</head>


<body>
    <h1><a href="/toUpperCase">CONVERT STRING TO UPPERCASE</a></h1>
    <p>Given a string, converts all lowercase characters to uppercase.</p>

    <h1><a href="/areaOfcirle">AREA OF CIRCLE</a></h1>
    <p>Given the radius of the circle, calculate its area.</p>

    <h1><a href="/areaOfTriangle">AREA OF TRIANGLE</a></h1>
    <p>Given the base and height of the triangle, calculate its area.</p>
    <body bgcolor="F3EBFF">
</body>
</html>
