<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group 3</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='GroupCSS/indexstyle.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='GroupCSS/responsive.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
        crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">

<body>
    <header>
        <div class="header-wrapper">
            <span class="menu-logo hp-viewport fas fa-ellipsis-h"></span>
            <ul class="header-list">

                <li class="header-content hp-viewport apple-header"><a href="/"><img class="logo" src="../../static/Group_pics/logo.png"></a></li>

                <li><a href="/">Home</a></li>
                <li><a href="/works">Projects</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
        </div>
    </header>

    <main>

        <div class="container">
            <div class="contents">
                <div class="image-container" onclick="location.href='/'" style="cursor: pointer;">
                    <div class="group-3">
                        <div class="title">
                            <p>“If, at first, you do not succeed, call it version 1.0.”
                            ― Khayri R.R. Woulfe</p>
                        </div>
                    </div>
                </div>
            <div class="image-container">
                <div class="profile" onclick="location.href='/profile'" style="cursor: pointer;"></div>
                <div class="title">
                    <h1 class="hello"></h1>
                    <p class="A">To everyone who contributes.</p>
                <div class="cta-links">
                    <a href="/profile"
                        class="learn-more-link">Profile</a>
                </div>
                </div>
            </div>
                <div class="image-container" onclick="location.href='/'" style="cursor: pointer;">
                    <div class="group-3-1">
                        <div class="title">
                            <p>Here's our series of Projects.</p>
                        <div class="cta-links">
                            <a href="/works" class="learn-more-link">Projects</a>
                            </div>
                        </div>
                    </div>
                </div>
</div>
</div>


        <ul class="flex-list">
            <li class="li1 content">

                <div class="theme-light container-main"
                    onclick="location.href='/sechy'" style="cursor: pointer;">
                    <div class="unit-copy-wrapper"><br><br>
                        <h2 class="headline"> Search Algorithm </h2>
                    </div>
                    <div class="project-image1">
                        <p>The term "Search Algorithm" generally refers to algorithms designed to locate specific items or information within a
                        dataset. The type of search algorithm used can vary depending on the nature of the data and the specific requirements of
                        the search.
                    </div>
                </div>
            </li>

            <li class="li2 content">

                <div class="theme-dark container-main" onClick="location.href='/gstacks';"
                    style="cursor: pointer;">
                    <div class="unit-copy-wrapper"><br><br>
                        <h2 class="headline">Infix to Postfix Stacks</h2>
                    </div>
                    <div class="project-image2">
                        <p>An infix to postfix converter uses a stack to transform mathematical expressions efficiently. It iterates through each
                        token, appending operands to the output and managing operators and parentheses using the stack. This streamlined
                        algorithm ensures a systematic conversion for efficient expression evaluation.
                    </div>
                </div>
            </li>

            <li class="li3 content">

                <div class="theme-dark container-main" onclick="location.href='/qqq' "
                    style="cursor: pointer;">
                    <div class="unit-copy-wrapper"><br><br>
                        <h2 class="headline">Queue and Dequeue</h2>
                    </div>
                    <div class="project-image3">
                        <p>A queue and dequeue (double-ended queue) are fundamental data structures used to organize and manage collections of elements in a linear order. A queue follows the First-In-First-Out (FIFO) principle, meaning that the first element added is the first one to be removed. It operates with enqueue (to add an element to the back) and dequeue (to remove an element from the front) operations.</p>
                    </div>
            </li>

            <li class="li4 content">
                <div class="theme-light container-main" onclick="location.href='/hashT'"
                    style="cursor: pointer;">
                    <div class="unit-copy-wrapper"><br><br>
                        <h2 class="headline">Hash Table</h2>
                    </div>
                    <div class="project-image4">
                        <p>A hash table is a widely used data structure that facilitates efficient data retrieval and storage. It utilizes a
                        technique called hashing, where a function (hash function) transforms keys into indices of an array. This allows for
                        quick lookup and insertion of values associated with those keys. The hash function should ideally distribute keys evenly
                        across the array to minimize collisions, where different keys produce the same hash value.
                    </div>
                </div>
            </li>
            <li class="li5 content">

                <div class="theme-light container-main" onclick="location.href='/pathf'"
                    style="cursor: pointer;">
                    <div class="unit-copy-wrapper"><br><br>
                        <h2 class="headline"> Graph Search </h2>
                        </div>
                        <div class="project-image5">
                            <p>Graph search refers to the process of exploring or traversing the vertices and edges of a graph data structure to find
                            specific information or solve problems. A graph is a collection of nodes (vertices) and connections (edges) between
                            them. Graph search algorithms are fundamental in various computer science applications, including pathfinding, network
                            analysis, and artificial intelligence.
                        </div>
                </div>
            </li>

            <li class="li6 content">

                <div class="theme-dark container-main dickison" onclick="location.href='/sorting'"style="cursor: pointer;">

                    <div class="unit-copy-wrapper"><br><br>
                        <h2 class="headline"> Sorting Algorithm </h2>
                    </div>
                    <div class="project-image6">
                        <p>A sorting algorithm is a step-by-step procedure used for rearranging the elements of a collection (such as an array or a
                        list) into a specific order. The most common orders are numerical or lexicographical (alphabetical). Sorting is a
                        fundamental operation in computer science and is used in various applications, such as searching, data analysis, and
                        optimization.
                    </div>
                </div>
            </li>
        </ul>
    </main>
    <footer>
        <div class="footer-container">
            <div class="foot-notes">
                <p>
                        <strong> Group 3 or known as Grupo ni Aaron</strong> is a functioning group in terms of Frontend and Backend beginners. They are Python
                        based programming language which they have sharpened throughout their academic year as a Computer Engineering students.
                        The group are consisted with the CSS Team and Function Code Team in which that turned this group portfolio a
                        masterpiece for their Data Structure and Algorithm (DSA) subject in their 1st semester, sophomore year. The group has also have their very own user tester & documentation team that gives feedback and criticism to make the each program more user friendly and easy to interact. With the 3 functioning team in group 3, everything has been going well except for the mountain of bugs that both team are encountering each time they made changes to the code at hand.
                </p>
            </div>

        </div>
        </div>
        <hr style="width: 70%;">
        <div class="footer-container">
            <div class="footer-list">
                <h3> Programs </h3>
                <p><a href="/sechy"> Search Algorithm </a></p>
                <p><a href="/gstacks"> Infix to Postfix </a></p>
                <p><a href="/qqq"> Queue and Dequeue </a></p>
                <p><a href="/hashT"> Hash Table </a></p>
                <p><a href="/pathf"> Graph Search </a></p>
                <p><a href="/sorting"> Sorting Algorithm </a></p>

            </div>
            <div class="footer-list">
                <h3>Contributors </h3>
                <p><a href="facebook.com/darklord1590" target = "_blank">Harold Cruz</a></p>
                <p><a href="https://www.facebook.com/uyonihamp.ANN.ika" target = "_blank">Margarette Conception</a></p>
                <p><a href="https://www.facebook.com/aaronpaul.castillo/" target = "_blank">Aaron Castillo</a></p>
                <p><a href="- facebook.com/rnlyndavid13" target = "_blank">Ronalyn David</a></p>
                <p><a href="https://www.facebook.com/michael.johan19?mibextid=2JQ9oc" target = "_blank">Michael Gregorio</a></p>
                <p><a href="https://www.facebook.com/timothy.malto.90/" target = "_blank">Timothy Malto</a></p>
                <p><a href="https://www.facebook.com/charles.nudalo.7" target = "_blank">Charles Nudalo</a></p>
                <p><a href="https://www.facebook.com/jayveeiggo983.iggo" target = "_blank">Jayvee Iggo</a></p>
            </div>
        </div>
    </footer>


    <script src="script.js"></script>
</body>

</html>