<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='GroupCSS/style.css') }}">
    <title>Search Algorithms Comparison</title>
    <header class="header">
        {% include 'Website_html/navbar.html' %}
    </header>
</head>
<body>
<div class="container">
    <h1 class="mt-5">Search Algorithms Comparison</h1>
    <form method="post">
        <div class="mb-3">
            <label for="array" class="form-label">Array</label>
            <textarea class="form-control" id="array" name="array" rows="10" required>{{ test_data }}</textarea>
        </div>
        <div class="mb-3">
            <label for="target" class="form-label">Target</label>
            <input type="text" class="form-control input-align" id="target" name="target" placeholder="Enter the target integer"
                required>
        </div>
        <label for="search_type" class="form-label">Search Algorithm</label>
        <select class="form-select mb-3 input-align" id="search_type" name="search_type">
            <option value="default">--Select--</option>
            <option value="linear">Linear Search</option>
            <option value="binary">Binary Search</option>
            <option value="ternary">Ternary Search</option>
            <option value="exponential">Exponential Search</option>
            <option value="interpolation">Interpolation Search</option>
            <option value="jump">Jump Search</option>
        </select>
        <div class="mb-3">
            <label for="data_size" class="form-label">Data Size</label>
            <select class="form-select mb-3 input-align" id="data_size" name="data_size">
                <option value="default">--Select--</option>
                <option value="small">Small (100)</option>
                <option value="medium">Medium (1000)</option>
                <option value="large">Large (10000)</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary input-align">Search</button>
    {% if result%}
    <div class="alert alert-success mt-3" id="result"role="alert">
        Target found at <b>index {{ result }}</b> using <b>{{ search_type }} </b>method <br>in <b>{{ execution_time }} milliseconds.</b>
    </div>
    {% endif %}
    {% if error %}
    <div class="alert alert-danger mt-3" role="alert">
        {{ error }}
    </div>
    {% endif %}
    <br><br>
        <button type="button" class="btn btn-secondary btn-clear" onclick="clearInputs()">Clear</button>
    </form>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-MCmUgPWAx7Xp9Qv3yvPlzkyUZYhE5Pz1nJYwRzye3f4Jr5NtQ8CA7GLiJz9tBvR" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-pzjw8f+ua/C1hblf7B19Bl5JK6vih4L50BuHboSY5q8iYxqYw8XW6P5p2OlfN2EM"
    crossorigin="anonymous"></script>

<script>
    // Function to generate a sequence of integers
    function generateIntegers(start, end) {
        return Array.from({ length: end - start + 1 }, (_, i) => start + i);
    }

    // Add an event listener to the data_size select element
    document.getElementById('data_size').addEventListener('change', function () {
        // Get the selected value
        var selectedSize = this.value;

        // Set the textarea content based on the selected size
        switch (selectedSize) {
            case 'small':
                document.getElementById('array').value = generateIntegers(1, 100).join(', ');
                break;
            case 'medium':
                document.getElementById('array').value = generateIntegers(1, 1000).join(', ');
                break;
            case 'large':
                document.getElementById('array').value = generateIntegers(1, 10000).join(', ');
                break;
            default:
                break;
        }
    });

    function clearInputs() {
        document.getElementById('array').value = '';
        document.getElementById('target').value = '';
        document.getElementById('search_type').value = 'default';
        document.getElementById('data_size').value = 'default';
        document.getElementById('result').innerText = '';    
        }
</script>
</body>
</html>
