
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #F2CEE6;
    background-image: url('Group_pics/pink_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.queue-section {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-top: 2.5rem;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.queue-section h2 {
    color: #07374a;
    text-align: center;
    padding: 20px;
}

.queue-form {
    margin-top: 20px;
    text-align: center;
}

.queue-form label {
    display: block;
    margin-bottom: 10px;
}

.queue-form input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.queue-form button {
    background-color: #07374a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.queue-form button:hover {
    background-color: #07374a;
}

.queue-list {
    margin-top: 30px;
}

.queue-list ul {
    list-style: none;
}

.queue-list li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .queue-section {
        width: 90%;
    }
}
