<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='Gregorio/style.css')}}">
    <title>Stack Linked Lists</title>
</head>
<body>
    <nav>
        <div class="nav__content">
            <div class="logo">
                <a href="/michael">Just Johan</a>
            </div>
            <label for="check" class="checkbox">
                <i class="ri-menu-line"></i>
            </label>
            <input type="checkbox" name="check" id="check">
            <ul>
                <li><a href="/michael_profile">Profile</a></li>
                <li class="active"><a href="/michael_works">Works</a></li>
                <li><a href="/michael_contacts">Contact</a></li>
            </ul>
        </div>
    </nav>
    <section class="section">
        <div class="section__container">
            <div class="content">
                <p class="subtitle">WORKS</p>
                <h1 class="title">
                   <span>Stack Linked Lists<br> </span>
                </h1>
                <p class="description">
                    This application allows insertion and deletion operations from one end of the stack data structure, that is top.
                </p>
                <div class="ul__works">
                    <div class="menu">
                        <form method="post" action="/michael_push">
                            <label for="data">Enter Data:</label>
                            <input type="text" name="data" required>
                            <button type="result">Push</button>
                        </form>
                        <br>
                        
                        <form method="get" action="/michael_pop">
                            <button type="result">Pop</button>
                        </form>
                        <br>
                        
                        <form method="get" action="/michael_peek">
                            <button type="result">Peek</button>
                        </form>
                        <br>
                        
                        <form method="get" action="/michael_clear">
                            <button type="result">Clear Stack</button>
                        </form>
                        <br>
                        
                        <form method="get" action="/michael_size">
                            <button type="result">Stack Size</button>
                        </form>
                        <br>
                    </div>
                    <div class="menu2">
                        <form method="get" action="/michael_create_new_stack">
                            <button type="result">Create New Stack</button>
                        </form>
                        <br>
                        <form method="post" action="/michael_select_stack" onsubmit="return validateSelect('michael_edit_stack')">
                            <label for="michael_edit_stack">Choose Stack to Edit:</label>
                            <select name="michael_edit_stack" id="michael_edit_stack">
                                <option value="" selected disabled>Select</option>
                                {% for stack_name, stack in stacks.items() %}
                                    <option value="{{ stack_name }}">{{ stack_name }}</option>
                                {% endfor %}
                            </select>
                            <button type="result">Edit Selected Stack</button>
                        </form>
                        <br>
                        <form method="post" action="/michael_merged_stack" onsubmit="return validateSelect('michael_merge_stack_1') && validateSelect('michael_merge_stack_2')">
                            <label for="michael_merge_stack_1">Choose Stack 1:</label>
                            <select name="michael_merge_stack_1" id="michael_merge_stack_1">
                                <option value="" selected disabled>Select</option>
                                {% for stack_name, stack in stacks.items() %}
                                    <option value="{{ stack_name }}">{{ stack_name }}</option>
                                {% endfor %}
                            </select>
                            <label for="michael_merge_stack_2">Choose Stack 2:</label>
                            <select name="michael_merge_stack_2" id="michael_merge_stack_2">
                                <option value="" selected disabled>Select</option>
                                {% for stack_name, stack in stacks.items() %}
                                    <option value="{{ stack_name }}">{{ stack_name }}</option>
                                {% endfor %}
                            </select>
                            <button type="result">Merge Stacks</button>
                        </form>
                        <br>
                    </div>
                </div>
                <div class="computed_result">
                    {% if current_stack %}
                        <h2>Selected Stack: {{ current_stack }}</h2>
                        <ul>
                            {% if stacks[current_stack] and stacks[current_stack].print_stack() %}
                                {% for item in stacks[current_stack].print_stack() %}
                                    <li>{{ item }}</li>
                                {% endfor %}
                            {% else %}
                                <li>No items in the stack</li>
                            {% endif %}
                        </ul>
                    {% else %}
                        <h2>No stack selected.</h2>
                    {% endif %}
                
                    {% if popped_data %}
                        <p>Popped Data: {{ popped_data }}</p>
                    {% endif %}
                    {% if top_data %}
                        <p>Top Data: {{ top_data }}</p>
                    {% endif %}
                    {% if stack_size %}
                        <p>Stack Size: {{ stack_size }}</p>
                    {% endif %}
                </div>                
            <script>
                function validateSelect(selectId) {
                    var selectElement = document.getElementById(selectId);
                    var selectedValue = selectElement.value;
            
                    if (selectedValue === "") {
                        alert("Please select an option first.");
                        return false;
                    }
            
                    return true;
                }
            </script>
                <ul class="ul__works">
                    <li><a href="/michael_uppercase">toUpperCase</a></li>
                    <li><a href="/michael_circle">Area of a Circle</a></li>
                    <li><a href="/michael_triangle">Area of a Triangle</a></li>
                </ul>
                <ul>
                    <li class="active"><a href="/michael_stack_page">Stack Linked Lists</a></li>
                </ul>
                <div class="action__btns">
                    <button class="home">
                        <a href="/michael">
                            Home
                        </a>
                    </button>
                    <button class="works__now">
                        <a href="/michael_works">
                            My Works
                        </a>
                    </button>
                </div>
            </div>
            <div class="image">
                <img src="{{url_for('static', filename='Gregorio/pic10.png')}}" alt="profile" />
            </div>
        </div>
    </section>
</body>
</html>