<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Group_pics/style.css') }}">
    <title> Group 3 | Testing Search Algorithm</title>
</head>
<style>
    body {
        color: #333;
    }

    main {
        margin-top: 10px;
        padding: 20px;
    }

    h1 {
        color: #FBACBE;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }

    h2,
    h3 {
        color: #333;
    }
</style>

<body>
    <header class="header">
        {% include 'Website_html/navbar.html' %}
    </header>
    <div class="bg"></div>
    <div class="center">
        <div class="title">
            GROUP 3 - DSA PORTFOLIO
        </div>
        <div class="description">
            <p>Welcome to our website! We are the spectacular <b>GROUP 3</b> from <i>BSCPE 2-6</i> </p>
            <p>and this is a platform dedicated to showcase our recent works in the subject.</p>
            <p>Explore and learn more about the exciting world of search algorithms, Infix and Postfix Stacks.</p>
            <p>To see our recent projects, <b>click the button below</b></p>
            <p>To see the members of the group and our information, <b>click our picture</b></p>
        </div>
        <div class="workbtn">
            <a href="/works"><b>Projects</b></a>
        </div>
    </div>
    <a href="/profile">
        <div class="grppic">
            <img src="{{ url_for('static', filename='Group_pics/grp3.png') }}" alt="group">
        </div>
    </a>
    <div class="big-number">
        <img src="{{ url_for('static', filename='Group_pics/e1.png') }}" alt="e1">
    </div>

</body>

</html>