<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Train System</title>
</head>
<body>
    <h1>Train System</h1>
    <p>{{ stations_info | safe }}</p>

    <form method="post" action="pathf">
        <label for="start_station">Start Station:</label>
        <input type="text" id="start_station" name="start_station" required>

        <label for="end_station">End Station:</label>
        <input type="text" id="end_station" name="end_station" required>

        <button type="submit">Find Shortest Path</button>
    </form>

    {% if result %}
        <p>{{ output | safe }}</p>
    {% endif %}

    {% if result %}
        <p>{{ result | safe }}</p>
    {% endif %}
</body>
</html>
