<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='GroupCSS/style.css') }}">
    <title>Works</title>
    <header class="header">
        {% include 'Website_html/navbar.html' %}
    </header>
</head>
<body>
    <div class="works">
        <div class="works-header">
            <h1>Web of Deep Trial and Error</h1>
        </div>
        <div class="works-content">
            <h2>List of programs:</h2>
            <br>
            <ul>
                <li>
                    <a href="/sechy" >Search Algorithms</a>
                </li>
                <li>
                    <a href="/gstacks">Infix & Postfix Stacks</a>
                </li>
                <li>
                    <a href="/qqq">Queue & Dequeue</a>
                </li>
                <li>
                    <a href="/hashT">Hash Table</a>
                </li>
                <li>
                    <a href="/pathf">Stations</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>