<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='mattstyleprojects.css') }}">
    <title>Area of a circle</title>
</head>
<body>
    <h1>Enter radius of the circle</h1>

    <form action="/mattcircle" method="post">
        <label for="inputInteger">Enter an integer:</label>
        <input type="number" id="inputInteger" name="inputInteger" required>
        <input type="submit" value="Find area">
    </form>

    {% if result is not none %}
    <p>Area of the circle with radius {{ request.form.inputInteger }} is {{ result }}</p>
    {% endif %}
    <br>
    <br>
    <br>
    <a href="/mattworks">Return to Projects</a>

</body>
</html>