<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='queue.css') }}">
    <title>Queue Operations</title>
    <header class="header">
        {% include 'navbar.html' %}
    </header>
</head>

<body>
    <h1>Queue Operations</h1>

    <form method="POST" action="qqq">
        <label for="data">Enter Data:</label>
        <input type="text" id="data" name="data" required>
        <button type="submit">Enqueue</button>
    </form>

    {% if removed_data %}
        <p>Removed Data: {{ removed_data }}</p>
    {% endif %}

    <form method="POST" action="remove">
        <label for="remove_option">Remove Option:</label>
        <select id="remove_option" name="remove_option">
            <option value="front">Remove from Front</option>
            <option value="rear">Remove from Rear</option>
        </select>
        <button type="submit">Remove</button>
    </form>

    <h2>Current Queue:</h2>
    <ul>
        {% for node in queue %}
            <li>{{ node.data }}</li>
        {% endfor %}
    </ul>

</body>
</html>
