<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Profile</title>
    <header class="header">
        {% include 'navbar.html' %}
    </header>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1 style="font-size: 30px; color: #fff;">Web of deep trial and Error</h1>
        </div>

        <div class="nav">
            <ul style="list-style: none; padding: 0;">
                <li style="display: inline; margin: 0 20px;">
                    <a href="/" style="text-decoration: none; color: #fff;">Home</a>
                </li>
            </ul>
        </div>

        <div class="content">
            <h2>List of programs:</h2>
            <ul style="list-style: none; text-align: center; padding: 20px;">
                <li style="margin: 10px 0;">
                    <a href="/sechy" style="text-decoration: none; color: #007BFF; font-weight: bold;">Search Algorithms</a>
                </li>
                <li style="margin: 10px 0;">
                    <a href="/gstacks" style="text-decoration: none; color: #007BFF; font-weight: bold;">Infix & Postfix Stacks</a>
            </ul>
        </div>
    </div>
</body>
</html>