* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-y: scroll;
}
::selection {
    color: #fff;
    background: #B9D2B1;
}

/* Works */
.works {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    width: max-content;
    margin: 0 auto;
    color: #07374a;
    text-align: center;
    overflow: hidden;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(34, 33, 33);
    margin-top: 2.5rem;
}

.works-content {
    padding: 20px;
}

.works-content h1,
.works-content h2 {
    color: #333;
}

.works-content ul {
    list-style: none;
}

.works-content li {
    margin-bottom: 10px;
}

.works-content a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
    margin-bottom: 10px;
    background-color: #318caf;
    border-radius: 8px;
    display: block;
}

.works-content a:hover {
    color: #0056b3;
}

/* Responsive layout for smaller screens */
@media (max-width: 768px) {
    .works {
        width: 90%;
    }
}


/* Search Algo */
.container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    width: max-content;
    margin: 0 auto;
    color: #07374a;
    text-align: left;
    overflow: hidden;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(34, 33, 33);
    margin-top: 2.5rem;
}

.container h1{
    margin-bottom: 15px;
}
.input-align {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

.form-label {
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
}
.form-label{
    background-color: none;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #318caf;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: 10px;
}

.alert-success {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #07374a;
    text-align: center;
}

.alert-danger {
    background-color: #f8d7da;
    color: rgb(112, 10, 10);
}

h1 {
    text-align: center;
}
#array {
    height: 200px;
    width: 500px;
}
.btn-clear {
    position: absolute;
    background-color: #318caf;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
}
.btn-clear:hover{
    background-color: crimson;
}

.result{
    font-weight: 700;
}

/* Media Queries for Responsive Design */
@media (max-width: 600px) {
    .container {
        left: 10%;
        width: 80%;
    }

    #array {
        width: 100%;
    }

    .btn-clear {
        bottom: 20px;
    }
}

/* Stacks */
.stack {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    width: max-content;
    max-height: 70vh;
    overflow-y: auto;
    margin: 0 auto;
    color: #07374a;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(34, 33, 33);
    margin-top: 2.5rem;
}

.stack h1 {
    color: #333;
    text-align: center;
    padding: 20px;
}

.stack form {
    margin-top: 20px;
    text-align: center;
}

.stack label {
    display: block;
    margin-bottom: 10px;
}

.stack input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.stack button {
    background-color: #07374a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.stack button:hover {
    background-color: #07374a;
}

.result {
    margin-top: 30px;
}

.result h2 {
    color: #333;
}

.steps {
    margin-top: 20px;
}

.steps table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.steps th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.steps th {
    background-color: #07374a;
    color: #fff;
}

/* Media Query for smaller screens */
@media only screen and (max-width: 600px) {
    .stack {
        width: 90%;
        left: 5%;
    }

    .stack h1,
    .stack form,
    .stack label,
    .stack input,
    .stack button,
    .result,
    .result h2,
    .steps,
    .steps table,
    .steps th,
    .steps td {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
}

/* Queue */
.queue-container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    max-height: 70vh;
    color: #07374a;
    text-align: left;
    overflow-y: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(34, 33, 33);
    margin-top: 2.5rem;
}

.queue-container h1,
h2 {
    color: #333;
    color: #07374a;
    text-align: center;
    padding: 20px;
}

.queue-input,
.queue-removed {
    margin-bottom: 20px;
}

.queue-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.queue-container label {
    margin-bottom: 10px;
}

.queue-container input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.queue-removed #remove_option {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.queue-removed button {
    background-color: #07374a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.queue-removed option {
    text-align: center;
}

.queue-removed button:hover {
    background-color: #07374a;
}

.queue-container button {
    background-color: #07374a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.queue-container button:hover {
    background-color: #07374a;
}

@media only screen and (max-width: 600px) {
    .queue-container {
        margin: 20px;
    }
}

/* HASH TABLE */
.hash-table {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    max-height: 70vh;
    color: #07374a;
    text-align: left;
    overflow-y: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(34, 33, 33);
    margin-top: 2.5rem;
}

.hash-table h1 {
    color: #333;
    text-align: center;
}

.hash-table form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hash-table label {
    margin-bottom: 10px;
}

.hash-table input,
.hash-table textarea,
.hash-table select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.hash-table button,
.hash-table input[type="submit"] {
    background-color: #07374a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.hash-table button:hover,
.hash-table input[type="submit"]:hover {
    background-color: #07374a;
}

@media only screen and (max-width: 600px) {
    .hash-table {
        margin: 20px;
    }
}

/* Graph Search */
/* 
.graph-search-container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    max-height: 70vh;
    color: #07374a;
    text-align: left;
    overflow-y: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(34, 33, 33);
    margin-top: 2.5rem;
}

.graph-search-container h1 {
    color: #333;
    text-align: center;
    padding: 20px;
}

.graph-search-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.graph-search-container label {
    margin-bottom: 10px;
}

.graph-search-container input,
.graph-search-container textarea,
.graph-search-container select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.graph-search-container button,
.graph-search-container input[type="submit"] {
    background-color: #07374a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.graph-search-container button:hover,
.graph-search-container input[type="submit"]:hover {
    background-color: #07374a;
}

@media only screen and (max-width: 600px) {
    .graph-search-container {
        margin: 20px;
    }
} */


/* Sort */
.sort-container{
    display: block;
    margin: auto;
    position: absolute;
    top: 30%;
    left: 50%;
    width: 90%;
    height: 80%;
    transform: translate(-50%, -30%);
    color: #07374a;
    text-align: left;
    overflow-y: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(34, 33, 33);
    margin-top: 2.5rem;

}

.sort-container #form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.sort-container h1 {
    color: #07374a;
    padding-bottom: 1rem;
}

.sort-container form {
    margin-bottom: 20px;
}

.sort-container label {
    display: block;
    margin-bottom: 10px;
}

.sort-container select,
.sort-container button {
    padding: 10px;
}

.sort-container button {
    background-color: #07374a;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sort-container button:hover {
    background-color: #07374a;
}

.sort {
    display: flex;
    justify-content: space-between;
}

.sort-orig-table,
.sort-sorted-table {
    flex: 1;
    text-align: center;
    padding: 1rem;
    overflow-y: scroll;
    max-height: 400px;
}

.sort-orig-table table,
.sort-sorted-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.sort-orig-table table,
.sort-sorted-table table,
.sort-orig-table th,
.sort-sorted-table th,
.sort-orig-table td,
.sort-sorted-table td {
    border: 1px solid #ddd;
    text-align: center;
}

.sort-orig-table th,
.sort-sorted-table th,
.sort-orig-table td,
.sort-sorted-table td {
    padding: 5px;
    width: 10%;
}

.sort-orig-table th,
.sort-sorted-table th {
    background-color: #f2f2f2;
}

.sort tr{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sort-time {
    text-align: center;
    position: fixed;
    bottom: 0;    
    display: flex;
    justify-content: center;
    width: 90%;
    flex-direction: column;
    overflow: hidden;
    margin-left: 3rem;
    padding-bottom: 1rem;
}

.sort-time h2 {
    color: #07374a;
}

/* Media Query for smaller screens */
@media only screen and (max-width: 600px) {

    .sort-container select,
    .sort-container button {
        width: 100%;
    }

    .sort-orig-table table,
    .sort-sorted-table table,
    .sort-orig-table th,
    .sort-sorted-table th,
    .sort-orig-table td,
    .sort-sorted-table td {
        width: 100%;
    }
}