<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Matt/mattstyle.css') }}"> 
   <title> navbar </title>

</head>

<body>
    <header class="header">
        <nav class="navbar">
            <div class="navbar-container container">
                <div>
                    <h1 class="navbar-brand">Matthew</h1>
                </div>
                <ul class="menu-items">
                    <li><a href="/matt">Home</a></li>
                    <li><a href="/mattprofile">About Me</a></li>
                    <li><a href="/mattworks">Projects</a></li>
                    <li><a href="/mattcontacts">Contact</a></li>
                    <li><a href="/">Group Portfolio</a></li>
                </ul>
            </div>
        </nav>
    </header>
</body>

</html>